<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.dao.StudentInfoMapper">
  <resultMap id="BaseResultMap" type="com.design.pojo.StudentInfo">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait" />
    <result column="college_id" jdbcType="VARCHAR" property="collegeId" />
    <result column="major_id" jdbcType="VARCHAR" property="majorId" />
    <result column="stu_class" jdbcType="VARCHAR" property="stuClass" />
    <result column="entrance_year" jdbcType="VARCHAR" property="entranceYear" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, realname, nickname, sex, birthday, signature, head_portrait, college_id, 
    major_id, stu_class, entrance_year, student_number, password, enable, phone, email, modify_time,
    create_time
  </sql>
  <sql id="Ad_Batch_Column_List">
    user_id, realname, college_id, major_id, entrance_year, stu_class, student_number, password, enable, modify_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectIdsByModel" parameterType="java.lang.String" resultType="java.lang.String">
    select user_id
    from student_info
    <where>
    <if test="majorId != null">
      major_id = #{majorId,jdbcType=VARCHAR}
    </if>
    <if test="stuClass != null">
      AND stu_class = #{stuClass,jdbcType=VARCHAR}
    </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from student_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.design.pojo.StudentInfo">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student_info (realname, nickname, sex, 
      birthday, signature, head_portrait, 
      college_id, major_id, entrance_year, 
      student_number, password, enable, 
      phone, email, modify_time, 
      create_time)
    values (#{realname,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{birthday,jdbcType=DATE}, #{signature,jdbcType=VARCHAR}, #{headPortrait,jdbcType=VARCHAR}, 
      #{collegeId,jdbcType=VARCHAR}, #{majorId,jdbcType=VARCHAR}, #{entranceYear,jdbcType=VARCHAR}, 
      #{studentNumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="addBatch" parameterType="com.design.pojo.StudentInfo">
    insert into student_info (<include refid="Ad_Batch_Column_List"/> )
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.userId,jdbcType=VARCHAR}, #{item.realname,jdbcType=VARCHAR}, #{item.collegeId,jdbcType=VARCHAR},
      #{item.majorId,jdbcType=VARCHAR},#{item.entranceYear,jdbcType=VARCHAR}, #{item.stuClass,jdbcType=VARCHAR},
      #{item.studentNumber,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, 1, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.design.pojo.StudentInfo">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="realname != null">
        realname,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="headPortrait != null">
        head_portrait,
      </if>
      <if test="collegeId != null">
        college_id,
      </if>
      <if test="majorId != null">
        major_id,
      </if>
      <if test="entranceYear != null">
        entrance_year,
      </if>
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null">
        #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null">
        #{collegeId,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="entranceYear != null">
        #{entranceYear,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.design.pojo.StudentInfo">
    update student_info
    <set>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null">
        head_portrait = #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null">
        college_id = #{collegeId,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        major_id = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="entranceYear != null">
        entrance_year = #{entranceYear,jdbcType=VARCHAR},
      </if>
      <if test="studentNumber != null">
        student_number = #{studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.design.pojo.StudentInfo">
    update student_info
    set realname = #{realname,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      signature = #{signature,jdbcType=VARCHAR},
      head_portrait = #{headPortrait,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=VARCHAR},
      entrance_year = #{entranceYear,jdbcType=VARCHAR},
      student_number = #{studentNumber,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>